*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 10pt;
    min-height: 100%;
}

p {
    text-align: justify;
    text-indent: 10px;
}

#titulo, #subtitulo {
    text-align: center;
}

image{
    text-align: center;

}